<div class="containerDIV">
    <div>
        <h2><b>Objective</b></h2>
    </div>
    <br />
    <div>
        <h4>
            Experienced and accomplished Project Lead Developer with over 9 years of experience looking
            to leverage extensive background in application development and project management into
            a Full Time <b style="color:#382d40">Lead Developer/Project Manager Role</b>
        </h4>
    </div>
    <br />
    <hr />
    <br />
    <h2><b>Summary</b></h2>
    <br />
    <ul class="listUL">
        <li>
            A seasoned developer of <b>
                React.js, NODE, ASP.NET/MVC, HTML5 web applications, DotNet windows applications,
                WCF services/Web Api
            </b>, windows services and console applications<b>(Full Dot Net stack)</b>.
        </li>
        <li>
            An expert of Microsoft
            Technologies and industry standard Architecture and patterns. Have delivered high quality and complex
            software applications for various clients like <b>
                MICROSOFT Corp, HUMANA, Wells Fargo, Ingersoll Rand,
                Levi & Strauss
            </b>.
        </li>
        <li>
            Anirban has <b>10 years of experience</b> of leading development teams and delivering complex,
            highly efficient projects in budget and on time.
        </li>
        <li>
            He is versatile and adapts to any situation quickly. He takes ownership of the delivery
            and drives the team to get the job done. He is ambitious and highly motivated to deliver the best in the industry solutions for the customers.
            He exceeds expectations in every delivery and value adds to the customer.
        </li>
    </ul>
</div>